//顏色

//背景顏色
$background-color:linear-gradient(117deg, #FAD5C2 0%, #BDBEF4 99.3%);

//主色
$primary-color-1:#343575 !default;
$primary-color-2:#66669A !default;
$primary-color-3:rgba(238, 238, 238, 0.80) !default;
$primary-color-4:rgba(255, 255, 255, 0.80) !default;

//輔色
$secondary-color-1:#FAEEE9 !default;
$secondary-color-2:rgba(238, 238, 238, 0.60) !default;
$secondary-color-3:#FFC595 !default;
$secondary-color-3:#C3C4E5 !default;

//自然色
$white:#fff !default;
$gray:#A3A3A3;